$common: #333;
$black: #000;
$red: #E31F24;
$gray: #76787D;
$gray_2: #E0E0E0;
$gray_border: #E9ECEF;
$gray-light: #FDFDFD;
$white: #fff;

$border-color: #DEDEDD;
$shadow-color: rgba(0, 0, 0, .1);

$border-radius: 10px;
$transition-2: all ease-in-out .2s;
$transition-4: all ease-in-out .4s;